extends layout.pug
block content

  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Welcome to OE
          h4.section-subheading.text-muted You are connected.
      .row.text-center
        a.col-sm-4.col-sm-offset-2(href="/search.html")
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-search.fa-stack-1x.fa-inverse
          p
            .btn.btn-xl Search
          p.text-muted
            
        a.col-sm-4(href="/new-user.html")
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-user-plus.fa-stack-1x.fa-inverse
          p
            .btn.btn-xl New User
          p.text-muted