extends layout.pug
block content
  section#newUser
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading 
            //i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-user-plus.yellow
            |  (3) Users found
      .row         
        .col-sm-7
          include prepopped.pug

        .col-sm-5
          .card.sb-card
            .card-block
              h4 Script:
              p
                |Agency is a stylish, one page Bootstrap theme for agencies and small businesses. 
                |The design of Agency is based off of the Golden PSD Theme by Mathavan Jaya. You can download the PSD verison of this theme at FreebiesXpress.com.
